@model SchoolManagementApp.MVC.Models.ClassEnrollmentViewModel

@{
    ViewData["Title"] = "Manage Enrollments";
}

<h1>Manage Enrollments for @Model.Class.Time Session of @Model.Class.Course.Code - @Model.Class.Course.Name</h1>

<hr/>
<h2>Student List</h2>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
        <tr>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>
                   @* @if (student.IsEnrolled)
                    {
                        <button data-studenId="@student.Id" data-shouldEnroll="false" 
                        class="btn btn-danger" enrollmentBtn type="button">Remove</button>
                    }
                    else
                    {
                        <button data-studenId="@student.Id" data-shouldEnroll="true" 
                        class="btn btn-success" enrollmentBtn type="button">Add</button>
                    }*@         
                    @{
                        string btnText = student.IsEnrolled ? "Remove" : "Add";
                        string btnClass = student.IsEnrolled ? "danger" : "success";
                        bool shouldEnroll = !student.IsEnrolled;
                    }
                    <button data-studenId="@student.Id" data-shouldEnroll="@shouldEnroll"
                        class="btn btn-@btnClass enrollmentBtn" type="button">
                        @btnText
                    </button>
            </td>
        </tr>
        }
    </tbody>
</table>

<form asp-action="EnrollStudent" id="classEnrollmentForm">
    <input type="hidden" id="ClassId" name="ClassId" value="@Model.Class.Id" />
    <input type="hidden" id="studentId" name="studentId" />
    <input type="hidden" id="shouldEnroll" name="shouldEnroll" />
</form>

@section Script {
    <script>
        $(function(){
            $('.table').DataTable();
        })
    </script>
}
